<div class="card-booking-meta-show">
  <h3>Book it !</h3>
  <h5>€ <%= @metaverse.price %> / jour</h5>
  <%= simple_form_for([@metaverse, @booking]) do |f| %>
    <%= f.date_field :start_at, class: "items" %>
    <%= f.date_field :end_at, class: "items" %>
    <%= f.button :submit, class: "btn btn-warning" %>
  <% end %>
</div>
