<div class="container">

  <h1>My booking</h1>
<% if @booking.metaverse.pictures.attached? %>
  <%= cl_image_tag @booking.metaverse.pictures[0].key, crop: :fill, class: "card-category rounded-top", alt: "principal metaverse picture"  %>
<% else %>
  <img class="card-category rounded-top" src="https://stylistme.com/wp-content/uploads/2022/02/Metaverse-guide-tuto.png" alt="principal metaverse picture">
<% end %>
  <%= @booking.metaverse.title %> booked, start the experience !
  </div>


  <p><strong>Booking details</strong></p>
  <ul>
    <li>Arrival : <%= @booking.start_at %></li>
    <li>Departure : <%= @booking.end_at %></li>
    <li><%= @booking.metaverse.description %></li>
  </ul>

<%= link_to "Edit", edit_metaverse_booking_path([@metaverse, @booking]), class: "btn btn-success" %>
<%= link_to "Delete", booking_path(@booking), method: :delete, class: "btn btn-danger" %>

</div>
