<div class="container">

<h2 class="text-center mt-3 mb-3">Welcome to your profil page <strong><%= @user.first_name %></strong> !</h2>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Your bookings
      </button>
    </h3>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <div class="grid grid--4-cols">
            <% @bookings.each do |booking| %>
              <div class="card-user-booking">
                <%= link_to metaverse_booking_path(booking.metaverse.id,booking) do %>
                <% if booking.metaverse.pictures.attached? %>
                  <%= cl_image_tag booking.metaverse.pictures[0].key, crop: :fill, class: "image rounded-top", alt: "principal metaverse picture"  %>
                <% else %>
                  <img class="image rounded-top" src="https://stylistme.com/wp-content/uploads/2022/02/Metaverse-guide-tuto.png" alt="principal metaverse picture">
                <% end %>
                  <div class="body">
                    <h5><strong><%= booking.metaverse.title %></strong></h5>
                    <p> From <%= booking.start_at %> to <%= booking.end_at %></p>
                  </div>
                  <% if booking.current_user_can_leave_review? %>
                    <div class="button-review">
                      <%= link_to "Leave a review", new_booking_review_path(booking),
                                                  class: "btn btn-link" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Your metaverses
      </button>
    </h3>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <div class="grid grid--4-cols">
            <% @metaverses.each do |metaverse| %>
              <div class="card-user-booking">
                <%= link_to metaverse_path(metaverse) do %>
                    <% if metaverse.pictures.attached? %>
                      <%= cl_image_tag metaverse.pictures[0].key, crop: :fill, class: "card-img-top rounded-top", alt: "principal metaverse picture"  %>
                    <% else %>
                      <img class="card-img-top rounded-top" src="https://stylistme.com/wp-content/uploads/2022/02/Metaverse-guide-tuto.png" alt="principal metaverse picture">
                    <% end %>
                    <div class="body">
                      <h5> <%=  metaverse.title %></h5>
                    </div>
                <%end  %>
              </div>
            <%end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Your booked metaverses
      </button>
    </h3>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <div class="grid grid--4-cols">
            <% @owner_booked_metaverses.each do |booking| %>
              <div class="card-user-booking">
                <%= link_to metaverse_path(booking.metaverse) do %>
                  <% if booking.metaverse.pictures.attached? %>
                    <%= cl_image_tag booking.metaverse.pictures[0].key, crop: :fill, class: "image rounded-top", alt: "principal metaverse picture"  %>
                  <% else %>
                    <img class="image rounded-top" src="https://stylistme.com/wp-content/uploads/2022/02/Metaverse-guide-tuto.png" alt="principal metaverse picture">
                  <% end %>
                    <div class="body">
                      <h5> <%=booking.metaverse.title %></h5>
                      <p> From <%= booking.start_at %> to <%= booking.end_at %></p>
                    </div>
                <%end  %>
              </div>
            <%end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
