<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="container">

<p>Welcome to your profil page <%= @user.first_name %> </p>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Your bookings
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <div class="row">
            <% @bookings.each do |booking| %>
              <%= link_to metaverse_booking_path(booking.metaverse.id,booking), class: "button col-4 mb-5 " do %>

                  <img class="card-img-top " src=<%= booking.metaverse.principal_picture %> alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"> <%= booking.metaverse.title %></h5>
                    <p> start : <%= booking.start_at %></p>
                    <p>end : <%= booking.end_at %></p>
                  </div>
              <%end %>

            <%end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Your metaverses
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
                  <div class="row">
            <% @metaverses.each do |metaverse| %>
               <%= link_to metaverse_path(metaverse), class: "button col-4 mb-5 " do %>

                  <img class="card-img-top" src="<%= metaverse.principal_picture %>" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"> <%=  metaverse.title %></h5>
                  </div>

              <%end  %>
            <%end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Your booked metaverses
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <div class="row">
            <% @owner_booked_metaverses.each do |booking| %>
               <%= link_to metaverse_path(booking.metaverse), class: "button col-4 mb-5 " do %>

                  <img class="card-img-top" src="<%= booking.metaverse.principal_picture %>" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"> <%=booking.metaverse.title %></h5>
                    <p>start : <%= booking.start_at %></p>
                    <p>start : <%= booking.end_at %></p>
                  </div>

              <%end  %>
            <%end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
