<div class="container">
  <h2>Update your metaverse</h2>
  <%= form_for(@metaverse) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= f.input :category, collection: ["history", "future", "fantasy"] %>
    <%= f.submit %>
  <% end %>
  <div>
    <%= link_to "Back to my metaverse", metaverse_path(@metaverse), class: "btn btn-primary" %>
  </div>
</div>
