<div class="container" >
  <h1 class="mt-4">Create your new Metaverse, change the world</h1>
  <br>
  <%= simple_form_for(@metaverse) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price, hint:"Should be in €"%>
      <%= f.input :category, collection: ["history", "future", "fantasy"]%>
      <%= f.input :pictures, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, class: "btn btn-primary my-2"%>

  <% end %>
  <br>
  <div>
    <%#= link_to "Back to list", metaverses_path, class: "btn btn-primary" %>
  </div>
</div>
