<div class="container">
  <div>
    <h1>Show</h1>
  </div>

  <div class="card-trip">
    <img src=  <%= @metaverse.principal_picture%> />
    <div class="card-trip-infos">
      <div>
        <h2><%= @metaverse.title %></h2>
        <p><%= @metaverse.description %></p>
      </div>
      <h2 class="card-trip-pricing"><%= @metaverse.price %> € / jour</h2>
    </div>
    <%= link_to "Book it", new_metaverse_booking_path(@metaverse)%>
  </div>

  <%= link_to "Back to all Metaverses", metaverses_path, class: "btn btn-primary"%>

</div>
