<div class="container my-5 w-75">
  <div>
    <% if @metaverse.pictures.attached? %>
      <%#= cl_image_tag @metaverse.pictures[0].key, crop: :fill, class: "card-category"  %>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @metaverse.pictures[0].key, crop: :fill, class: "d-block w-100"  %>
            </div>
            <% @metaverse.pictures[1..-1].each do |picture| %>
              <div class="carousel-item">
                <%= cl_image_tag picture.key, crop: :fill, class: "d-block w-100"  %>
              </div>
            <%end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    <% else %>
      <img src="https://stylistme.com/wp-content/uploads/2022/02/Metaverse-guide-tuto.png"
           alt="metaverse picture"
           class= "d-block w-100">
    <% end %>
  </div>
  <div>
      <span class="badge bg-warning"><%= @metaverse.category %></span>
    <div class="info-and-resa">
      <div class="show-description" id="meta-description">
        <p><%= @metaverse.description %></p>
      </div>
      <%= render 'bookings/form', metaverse: @metaverse, booking: @booking %>
    </div>
  </div>
  <div class="reviews my-3">
    <% @metaverse.reviews.each do |review| %>
      <%= review.user.first_name %>
      <%= review.content %>
      <%= review.rating %>
    <% end %>
  </div>
  <%= link_to "Back", metaverses_path, class: "btn btn-secondary"%>
</div>
