<div class="container my-5 w-75">


  <div class="card-trip">
    <% if @metaverse.pictures.attached? %>
      <%#= cl_image_tag @metaverse.pictures[0].key, crop: :fill, class: "card-category"  %>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @metaverse.pictures[0].key, crop: :fill, class: "d-block w-100"  %>
            </div>
            <% @metaverse.pictures[1..-1].each do |picture| %>
              <div class="carousel-item">
                <%= cl_image_tag picture.key, crop: :fill, class: "d-block w-100"  %>
              </div>
            <%end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    <% else %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://stylistme.com/wp-content/uploads/2022/02/Metaverse-guide-tuto.png)"></div>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <span class="badge bg-warning"><%= @metaverse.category %></span>
        <div class="show-description">
          <p><%= @metaverse.description %></p>
        </div>
        <div class="show-reviews">
          <p><strong>TODO : display reviews</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews my-3">
    <% @metaverse.reviews.each do |review| %>
      <%= review.user.first_name %>
      <%= review.content %>
      <%= review.rating %>
    <% end %>
    <div class="mt-4">
      <h3 class="card-trip-pricing">€ <%= @metaverse.price %> / jour</h3>
      <%= link_to "Book it", new_metaverse_booking_path(@metaverse), class: "btn btn-primary"%>
      <%= link_to "Back to all Metaverses", metaverses_path, class: "btn btn-warning"%>
    </div>
  </div>
</div>



<% if @metaverse.pictures.attached? %>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @metaverse.pictures[0].key, crop: :fill, class: "d-block w-100 center"  %>
      </div>
      <% @metaverse.pictures[1..-1].each do |picture| %>
        <div class="carousel-item">
          <%= cl_image_tag picture.key, crop: :fill, class: "d-block w-100 center"  %>
        </div>
      <%end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<%end %>
