<div class="container my-4 w-75">
  <h1 class="text-center"><%= @metaverse.title %></h1>
  <div>
    <%= link_to "All metaverses", metaverses_path, class: "btn btn-primary text-light mb-3"%>
    <%= link_to "Back to profil", user_path(current_user), class: "btn btn-success text-light mb-3"%>
  </div>
  <div class="image-show-meta">
    <% if @metaverse.pictures.attached? %>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="pause">
              <%= cl_image_tag @metaverse.pictures[0].key, crop: :fill %>
            </div>
            <% @metaverse.pictures[1..-1].each do |picture| %>
              <div class="carousel-item" data-bs-interval="pause">
                <%= cl_image_tag picture.key, crop: :fill %>
              </div>
            <%end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    <% else %>
      <img src="https://stylistme.com/wp-content/uploads/2022/02/Metaverse-guide-tuto.png"
           alt="metaverse picture">
    <% end %>
  <h4><span class="badge bg-warning"><%= @metaverse.category %></span></h4>
  </div>
  <div class="description-booking">
    <div id="meta-description">
      <p><%= @metaverse.description %></p>
    </div>
    <%= render 'bookings/form', metaverse: @metaverse, booking: @booking %>
  </div>
  <div class="reviews-display my-3 text-center">
    <% @metaverse.reviews.each do |review| %>
      <p><strong><%= review.user.first_name %></strong> - <% review.rating.times do %>
        <span>⭐</span>
      <% end %></p>
      <p>"<%= review.content %>"</p>
    <% end %>
  </div>
</div>
